/* Variáveis CSS */
:root {
    --primary-color: #82ec9bb8;
    --secondary-color: #333;
    --font-color: #333;
    --background-color: #f4f4f4;
    --font-family: Tahoma, sans-serif;
    --font-size-large: 2rem; /* Diminuído para caber em uma linha */
    --font-size-medium: 1.8rem;
    --font-size-small: 1rem;
}

/* Reseta os estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do Body */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--background-color);
    background-image: url('https://media.seudinheiro.com/uploads/2024/10/Ambipar-caminhoes.jpg');
    background-size: cover; /* Ajuste para cobrir toda a área */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--font-color);
    padding-bottom: 60px; /* Espaço para o rodapé */
}

/* Cabeçalho */
header {
    width: 100%;
    padding: 10px 20px; /* Ajuste a altura do cabeçalho */
    text-align: center; /* Centraliza o texto */
    margin-top: 0; /* Remove a margem superior */
    background-color: transparent; /* Remove o fundo verde */
    margin-bottom: 20px; /* Adiciona espaço abaixo do cabeçalho */
}

header h1 {
    font-size: var(--font-size-large);
    color: white;
    position: relative;
    display: inline-block;
    margin-top: 0; /* Remove a margem superior */
}

header h1 .group {
    display: block;
    position: absolute;
    top: 100%; /* Ajuste a posição vertical conforme necessário */
    left: 50%; /* Ajuste a posição horizontal conforme necessário */
    transform: translate(-25%, -50%); /* Centraliza o texto "GROUP" em relação ao "ambipar" */
    font-size: 0.6em; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.7); /* Cor secundária com transparência */
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

/* Área Principal */
main {
    margin-top: 20px; /* Ajuste a margem superior conforme necessário */
    text-align: center;
    background-color: transparent; /* Remove o fundo branco */
    padding: 20px; /* Ajuste o padding conforme necessário */
    border-radius: 8px;
    box-shadow: none; /* Remove a sombra */
    width: 40%; /* Ajuste a largura conforme necessário */
    max-width: 400px; /* Ajuste a largura máxima conforme necessário */
    height: calc(100vh - 10px); /* Ocupa quase toda a altura da página */
    margin-right: -70%; /* Move para a lateral direita, mas não totalmente no canto */
    margin-bottom: 10px;
    margin-top: auto; /* Puxa um pouco para baixo */
}

main h2 {
    font-size: var(--font-size-large); /* Ajuste do tamanho da fonte */
    margin-bottom: 10px;
}

main p {
    font-size: 1rem; /* Ajuste do tamanho da fonte */
    margin-bottom: 20px;
}

/* Botões */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px; /* Ajuste do tamanho do botão */
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    margin: 5px;
    font-size: 1.2rem; /* Ajuste do tamanho da fonte */
}

.btn:hover {
    background-color: #218838;
}

/* Rodapé */
footer {
    background-color: transparent; /* Remove o fundo preto */
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    main {
        padding: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    header h1 {
        font-size: var(--font-size-medium);
    }

    main h2 {
        font-size: 2rem;
    }

    main p {
        font-size: var(--font-size-small);
    }

    .btn {
        padding: 10px 20px; /* Ajuste do tamanho do botão para dispositivos móveis */
        font-size: 1.5rem; /* Ajuste do tamanho da fonte para dispositivos móveis */
    }
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    main {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    header h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 2.5rem;
    }
}

/* Formulário de Login */
.login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco bem clarinho e transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 350px;
    margin: 50px auto;
    text-align: center;
}

.login-form h2 {
    font-size: 2rem; /* Ajuste do tamanho da fonte */
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.login-form p {
    font-size: 1rem; /* Ajuste do tamanho da fonte */
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.login-form select,
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.login-form select {
    color: #555;
}

.login-form .btn {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form .btn:hover {
    background-color: #09f405cc;
}
